$mainFont: "Montserrat", sans-serif;

// Colors

$green: #4cb8b3;
$pink: #f53756;
$yellow: #fef46d;
$purple: #752f97;
$black: rgb(22, 22, 22);
$white: rgb(247, 247, 247);

// Media Queries

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;

// Fonts

$fontThin: 300;
$fontRegular: 400;
$fontBold: 700;
$fontBlack: 900;

// Separations

$separation: 5rem;
