.header {
  background-color: $green;

  .header-content {
    padding: $separation / 2 0;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  h1 {
    color: $white;
    text-align: center;
    margin-bottom: 1rem;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &.fix {
    position: fixed;
    width: 100%;
    box-shadow: 0 0.3rem 0.4rem #444;
  }
}

.main-nav {
  display: flex;
  gap: 2rem;
  justify-content: center;

  a {
    color: $white;
    font-size: 2rem;

    &:hover {
      color: $yellow;
    }
  }
}
